<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
<link rel="stylesheet" href="<%= themeConfig.domain %>/media/tailwind.css">
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">

<% if (site.customConfig.ga) { %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '<%= site.customConfig.ga %>');
  </script>
<% } %>    
