@import (less) "./includes/prism.css";
@import url('https://rsms.me/inter/inter.css');

body {
  font-family: Inter, Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.breathing-left {
  animation: breathing-left 7s ease-out infinite normal;
}
.breathing-right {
  animation: breathing-right 7s ease-out infinite normal;
}

@keyframes breathing-left {
  0% {
    transform: scale(0.9) rotateZ(-80deg);
    opacity: 0.3;
  }

  25% {
    transform: scale(1) rotateZ(-80deg);
    opacity: 1;
  }

  60% {
    transform: scale(0.9) rotateZ(-80deg);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.9) rotateZ(-80deg);
    opacity: 0.3;
  }
}

@keyframes breathing-right {
  0% {
    transform: scale(0.9) rotateZ(-30deg);
    opacity: 0.3;
  }

  25% {
    transform: scale(1) rotateZ(-30deg);
    opacity: 1;
  }

  60% {
    transform: scale(0.9) rotateZ(-30deg);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.9) rotateZ(-30deg);
    opacity: 0.3;
  }
}