<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body>
  <div class="antialiased" id="app">
    <%- include('./includes/header') %>

    <div class="max-w-6xl mx-auto px-4 py-8 my-8 flex flex-wrap">
      <div class="w-full py-8" v-for="i in 8" :key="i">
        <a href="#" class="transition-fast p-4 m-8 border-gray-100 border-2 rounded hover:border-gray-400 block">
          <h2 class="text-xl font-medium">快速上手</h2>
          <div class="text-gray-500">跟着教程一起，开始愉快的 Gridea 之旅吧～</div>
        </a>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
</body>
</html>