<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body>
  <div class="antialiased flex flex-col min-h-screen" id="app">
    <%- include('./includes/header') %>

    <div class="flex flex-1">
      <div class="px-8 py-24 max-w-6xl w-full mx-auto lg:px-12">
        <div class="xl:ml-auto text-center">
          <div class="text-center">
            <!-- <img class="h-40 inline-block" src="/media/gridea.png" alt="Gridea"> -->
          </div>
          <h1 class="mt-6 text-5xl font-bold text-gray-900 leading-tight">
            可以，写博客的那个劲儿又回来了
          </h1>
          <p class="mt-2 text-gray-600 sm:mt-4 sm:text-xl font-thin">
            记录生活、心情、知识、笔记、创意...
          </p>
          <div class="mt-16 flex justify-center">
            <a href="" target="_blank" class="text-xl rounded-full w-10 h-10 text-center inline-flex items-center justify-center hover:bg-gray-200 hover:text-gray-900 mr-4">
              <i class="ri-apple-line"></i>
            </a>
            <a href="" target="_blank" class="text-xl rounded-full w-10 h-10 text-center inline-flex items-center justify-center hover:bg-gray-200 hover:text-gray-900 mr-4">
              <i class="ri-windows-line"></i>
            </a>
            <a href="" target="_blank" class="text-xl rounded-full w-10 h-10 text-center inline-flex items-center justify-center hover:bg-gray-200 hover:text-gray-900">
              <i class="ri-ubuntu-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <%- include('./includes/footer') %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
</body>
</html>