<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body>
  <div class="antialiased" id="app">
    <header class="bg-gray-100 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
      <div class="flex items-center justify-between px-4 py-3 sm:p-0">
        <div>
          <img class="h-8" src="/static/gridea.png" alt="Workcation">
        </div>
        <div class="sm:hidden">
          <button @click="isOpen = !isOpen" type="button" class="block text-gray-500 hover:text-gray-500 focus:text-gray-500 focus:outline-none">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
              <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
          </button>
        </div>
      </div>
      <nav :class="isOpen ? 'block' : 'hidden'" class="px-2 pt-2 pb-4 sm:flex sm:p-0">
        <a href="/docs" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-200">文档</a>
        <a href="/themes" class="mt-1 block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-200 sm:mt-0 sm:ml-2">主题市场</a>
        <a href="/blog" class="mt-1 block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-200 sm:mt-0 sm:ml-2">博客</a>
      </nav>
    </header>
    <div class="bg-gray-100 flex">
      <div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:max-w-full lg:w-1/2 lg:py-24 lg:px-12">
        <div class="xl:max-w-lg xl:ml-auto">
          <img class="mt-6 rounded-lg shadow-xl sm:mt-8 sm:h-64 sm:w-full sm:object-cover sm:object-center lg:hidden" src="/img/beach-work.jpg" alt="Woman workcationing on the beach">
          <h1 class="mt-6 text-2xl font-bold text-gray-900 leading-tight sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl">
            Gridea
            <br class="hidden lg:inline"><span class="text-gray-500 text-2xl">一个静态博客写作客户端</span>
          </h1>
          <p class="mt-2 text-gray-600 sm:mt-4 sm:text-xl font-thin">
            记录生活、心情、知识、笔记、创意...
          </p>
          <div class="mt-4 sm:mt-6">
            <a href="#" class="inline-block px-5 py-3 rounded-lg shadow-lg bg-gray-700 text-sm text-white uppercase tracking-wider font-semibold sm:text-base">立即开始</a>
          </div>
        </div>
      </div>
      <!-- <div class="hidden lg:block lg:w-1/2 lg:relative">
        <img class="absolute inset-0 h-full w-full object-cover object-center" src="/img/beach-work.jpg" alt="Woman workcationing on the beach">
      </div> -->
    </div>
    <div>
      <div class="max-w-md sm:max-w-xl lg:max-w-6xl mx-auto px-8 lg:px-12 py-8">
        <h2 class="text-xl text-gray-900">Features</h2>
        <p class="text-gray-600">你想要的都在这儿了</p>
        <div class="flex flex-wrap -mx-4">
          <div class="mt-6 w-full px-4 lg:w-1/2 xl:w-1/3" v-for="(destination, i) in popularDestinations" :key="i">
            <div class="flex items-center rounded-lg bg-white shadow-lg overflow-hidden">
                <img class="h-32 w-32 flex-shrink-0" :src="destination.imageUrl" :alt="destination.imageAlt">
                <div class="px-6 py-4">
                  <h3 class="text-lg font-semibold text-gray-800">{{ destination.city }}</h3>
                  <p class="text-gray-600">${{ destination.averagePrice }} / night average</p>
                  <div class="mt-4">
                    <a href="#" class="text-indigo-500 hover:text-indigo-400 font-semibold text-sm">Explore {{ destination.propertyCount }} properties</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/static/scripts/main.js"></script>
</body>
</html>