<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body>
  <div class="antialiased flex flex-col min-h-screen" id="app">
    <%- include('./includes/header', { hideBorder: true }) %>

    <div class="flex flex-1">
      <div class="max-w-6xl px-8 py-24 w-full mx-auto lg:px-12 relative">
        <div class="xl:ml-auto text-center">
          <div class="text-center">
            <!-- <img class="h-40 inline-block" src="/media/gridea.png" alt="Gridea"> -->
          </div>
          <h1 class="mt-6 text-5xl font-bold text-gray-900 leading-tight relative z-10">
            可以，写博客的那个劲儿又回来了
          </h1>
          <p class="mt-2 text-gray-600 sm:mt-4 sm:text-xl font-thin">
            记录生活、心情、知识、笔记、创意...
          </p>
          <div class="mt-16 flex justify-center">
            <a :href="`https://github.com/getgridea/gridea/releases/download/v${version}/Gridea-${version}.dmg`" target="_blank" class="text-xl rounded-full w-10 h-10 text-center inline-flex items-center justify-center hover:bg-gray-200 hover:text-gray-900 mr-4">
              <i class="ri-apple-line"></i>
            </a>
            <a :href="`https://github.com/getgridea/gridea/releases/download/v${version}/Gridea.Setup.${version}.exe`" target="_blank" class="text-xl rounded-full w-10 h-10 text-center inline-flex items-center justify-center hover:bg-gray-200 hover:text-gray-900 mr-4">
              <i class="ri-windows-line"></i>
            </a>
            <a href="https://github.com/getgridea/gridea/releases" target="_blank" class="text-xl rounded-full w-10 h-10 text-center inline-flex items-center justify-center hover:bg-gray-200 hover:text-gray-900">
              <i class="ri-ubuntu-line"></i>
            </a>
          </div>
          <div class="shadow-lg mb-4 mt-16 rounded-lg overflow-hidden border-2 border-gray-300">
            <img src="/images/gridea.jpg" alt="">
          </div>
        </div>
        <i class="ri-quill-pen-line absolute text-indigo-200 text-6xl breathing-left" style="top: 32px; left: 80px;"></i>
        <i class="ri-pen-nib-line absolute text-purple-200 text-6xl breathing-right" style="top: 160px; right: 80px;"></i>
      </div>
    </div>
    <%- include('./includes/footer') %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
</body>
</html>