<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: site.themeConfig.siteName }) %>
</head>
<body class="bg-gray-100">
  <div class="antialiased flex flex-col min-h-screen" id="app">
    <%- include('./includes/header') %>

    <div class="max-w-6xl w-full mx-auto px-4 py-8 my-8 flex-1">
      <div class="text-center lg:px-4 pb-10">
        <div class="p-2 bg-yellow-400 items-center text-yellow-darkest leading-none lg:rounded-full flex lg:inline-flex cursor-pointer" role="alert" @click="oepnUrl('https://github.com/getgridea/site/issues/new')">
          <span class="flex rounded-full bg-yellow-600 uppercase px-2 py-1 text-xs font-bold mr-3">Click Here</span>
          <span class="font-semibold mr-2 text-left flex-auto flex items-center"><i class="ri-t-shirt-line mr-2"></i> 分享你的主题！</span>
          <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="md:w-1/2 sm:w-full md:pb-8 md:pt-0 p-4" :class="{ 'md:pr-4 md:pl-0': !(index % 2), 'md:pl-4 md:pr-0': index % 2 }" v-for="(theme, index) in themeList" :key="index">
          <div class="shadow rounded bg-white hover:shadow-lg relative transition-fast overflow-hidden">
            <a :href="theme.link || theme.github" target="_blank" class="block w-full bg-cover" :style="{ paddingTop: '56.25%', backgroundImage: `url('${theme.image}')` }">
            </a>
            <div class="p-4 flex items-center justify-between border-t border-gray-200">
              <div class="flex items-center">
                <span class="text-xl font-medium">{{ theme.name }}</span>
                <span
                  class="font-medium ml-4 bg-indigo-200 pl-2 pr-3 rounded-full inline-flex items-center text-indigo-900"
                  v-if="theme.price"
                >
                  <i class="ri-money-cny-circle-line mr-1"></i> {{ theme.price }}
                </span>
              </div>
              <div>
                <a :href="theme.demo" target="_blank" v-if="theme.showDemo" class="mr-4 text-sm"><i class="ri-eye-line"></i></a>
                <a :href="theme.link || theme.github" target="_blank" class="text-sm"><i class="ri-download-line"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./includes/footer') %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
</body>
</html>