<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body>
  <div class="antialiased" id="app">
    <%- include('./includes/header') %>

    <div class="max-w-6xl mx-auto px-4 py-8 my-8">
      <div class="text-center lg:px-4 pb-10">
        <div class="p-2 bg-yellow-400 items-center text-yellow-darkest leading-none lg:rounded-full flex lg:inline-flex cursor-pointer" role="alert" @click="newTheme">
          <span class="flex rounded-full bg-yellow-600 uppercase px-2 py-1 text-xs font-bold mr-3">Click Here</span>
          <span class="font-semibold mr-2 text-left flex-auto">快来将你创作的主题分享给我们吧！</span>
          <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
        </div>
      </div>
      
      <div class="shadow-md rounded bg-white hover:shadow-lg relative transition-fast">
        <a href="">
          <img src="https://gridea.dev/images/themes/theme-tech.jpg" alt="" class="w-full">
        </a>
        <div class="p-4 flex items-center justify-between">
          <div>
            <span class="text-xl font-medium">Tech</span>
            <span class="ml-4 text-gray-500">¥ 6</span>
          </div>
          <div>
            <a href="#" class="mr-4">预览</a>
            <a href="#">下载</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
</body>
</html>